*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#home{
    width: 100%;
    height: 100%;
    background-image: url('./image/bg.png');
    background-size: cover;
    padding-bottom: 10%;
}

nav{
    position: fixed;
    display: grid;
    padding: 0 5%;
    grid-template-areas: "logo navigasi";
    grid-template-columns: 1fr 3fr;
    height: 60px;
    font-weight: 700;
    color:#0A2E72 ;
    width: 100%;
}

.logo{
    display: flex;
    grid-area: logo;
    justify-content: center;
    align-items: center;
    font-size: 40px;
}

.nav-item{
    display: flex;
    grid-area: navigasi;
    justify-content: right;
    align-items: center;
}

nav .items{
    display: flex;
    align-items: flex-end;
    list-style: none;
    font-size: 24px;
}

nav .items li a{
    margin: 20px;
    padding: 20px;
    cursor: pointer;
    text-decoration: none;
}

.container{
    display: grid;
    grid-template-columns: 1.3fr 1fr;
    padding: 10% 10%;
    align-items: center;
    height: 90vh;
}

#home .left-content{
    height: 100%;
    font-weight: 700;
    color: #112877;
}

#home .left-content h1{
    font-size: 70px;
    width: min-content;
}
#home .left-content p{
    font-size: 25px;
    margin: 20px 0;
}

#home .left-content button{
    width: 150px;
    height: 60px;
    background-color:#0F1D52DB;
    font-weight: 700;
    color: #fff;
    font-size: 28px;
    border-style: none;
}

#home .right-content{
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: flex-end;
}

#home .right-content .bg-div{
    display: block;
    width: 420px;
    height: 400px;
    background-image: url('./image/div.png');
    background-size: cover;
}

#home .right-content .bg-div ul li{
    display: flex;
    margin: 0 30px;
    list-style: none;
    color: #fff;
    font-weight: 400;
    font-size: 25px;
    letter-spacing: 0.05em;
    align-items: center;
}

#home .right-content .bg-coding{
    margin-top: -20px;
    margin-bottom: 40px;
    height: 105px;
    width: 150px;
    background-image: url('./image/conding.png');
    background-size: cover;
}

#home .right-content .bg-marketing{
    display: flex;
    height: 130px;
    width: 150px;
    background-image: url('./image/marketing.png');
    background-size: cover;
    margin: 10% 50%;
}

#about{
    width: 100%;
    height: 100%;
    background-image: url('./image/bg2.png');
    background-size: cover;
}
#about .header{
    padding-top: 5%;
    text-align: center;
}

#about .container{
    padding-top: 0;
}

#about .left-content{
    display: flex;
    color: #0A2E72;
    width: 100%;
    height: 100%;
    font-size: 20px;
    font-weight: 700;
    line-height: 27px;
    justify-content: center;
    align-items: center;
    text-align: justify;
}
#about .left-content ul li{
    list-style: none;
}

#about .right-content{
    color: #0A2E72;
    width: 100%;
    height: 100%;
    padding: 20%;
}

.testi{
    width: 300px;
    padding-top: 10%;
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-gap: 10px;
    font-weight: 700;
    line-height: 20px;
}

#pricing{
    margin-top: -100px;
    width: 100%;
    height: 130vh;
    background-image: url('./image/bg3.png');
    background-size: cover;
    
}

#pricing > p{
    color: #0F1D52;
    padding-top: 5%;
    font-size: 64px;
    font-weight: 700;
}

.price{
    padding: 10% 20%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    text-align: center;
}

.paket{
    border-radius: 5px;
    padding: 10% 0;
    height: 400px;
    width: 270px;
    background-color: rgba(125, 51, 96, 0.54);
    color: #0F1D52;
}

.paket ul{
    padding: 10%;

}

.paket ul li{
    font-weight: 700;
    font-size: 17px;
    text-align: justify;
    list-style: none;
    margin-bottom:10px ;
}

tw{
    color: #fff;
}

.paket button{
    width: 149px;
    height: 30px;
    background: #0F1D52;
    border-style: none;
    color: #fff;
    font-weight: 700;
}

.paket p{
    margin-top: 15px;
    color: #fff;
    font-size: 18px;
    font-weight: 700;
}

#contact{
    height: 501px;
    width: 100%;
    background: rgba(125, 51, 96, 0.87);
    padding: 0 15%;
}

.contact-content > p{
    padding-top: 50px;
    text-align: center;
    font-weight: 700;
    font-size: 60px;
    line-height: 20px;
    color: #fff;

}

.contact {
    margin-top: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 50px;
}

.contact p {
    display: flex;
    color: #fff;
    font-weight: 700;
    font-size: 24px;
    margin: 20px;
}

.contact button{
    background-color: rgba(51, 67, 125, 0.54);
    margin-left: 20px;
    width: 120px;
    color: #fff;
    font-weight: 700;
    font-size: 24px;
    border-style: none;
}